<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cs183.tasty.mapper.GuideMapper">
    <resultMap id="BaseResultMap" type="com.cs183.tasty.entity.pojo.Guide">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="recipeId" column="recipe_id" jdbcType="BIGINT"/>
        <result property="steps" column="steps" jdbcType="VARCHAR"/>
    </resultMap>
</mapper>
