<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cs183.tasty.mapper.NoteMapper">
    <resultMap id="BaseResultMap" type="com.cs183.tasty.entity.pojo.Note">
        <id property="noteId" column="note_id" jdbcType="BIGINT"/>
        <result property="noteUserId" column="noteuser_id" jdbcType="BIGINT"/>
        <result property="notePicture" column="note_picture" jdbcType="VARCHAR"/>
        <result property="describe" column="describe" jdbcType="VARCHAR"/>
        <result property="recipeId" column="recipe_id" jdbcType="BIGINT"/>
        <result property="noteTime" column="note_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <select id="pageQuery" resultType="com.cs183.tasty.entity.pojo.Note">
        select * from note,like
        <where>
            <if test="userId!= null">
                    and noteuser_id = #{userId}
            </if>
        </where>
        order by note_time desc
    </select>
</mapper>